{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bb.css' %}">
  <title>Homepage</title>
</head>
<body background="{% static "2.jpg" %}">
  <center> <h1>Welcome!</h1> </center>
  <center><p>"See more. Explore more. Learn more."</p></center>
  <ul id="nav">
    <li><a href="http://127.0.0.1:8000/">Home</a></li>
    <li><a href="#category">Category</a></li>
    <li><a href="/calculator">Calculator</a></li>
    <li><a href="#features">Features</a></li>
    <li><a href="#about">About</a></li>
  </ul>
</body>
</html>